<mat-card
  class="daxa-card total-patients-card border-radius border-none d-block"
  [class.component-dark-theme]="themeService.isDark()"
>
  <mat-card-content>
    @if (loading()) {
      <div class="loading-container">
        <div class="spinner-wrapper">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
      </div>
    } @else {
      <div class="d-md-flex align-items-center justify-content-between">
        <div class="title">
          <h5>Total Patients</h5>
          <div class="number fw-medium lh-1">{{ totalPatients() }}</div>
        </div>
        <div class="users d-flex align-items-center">
          @for (patient of recentPatients(); track patient.user_id) {
            <img
              [src]="patient.avatarUrl"
              [alt]="patient.first_name + ' ' + patient.last_name"
              height="37"
              width="37"
            />
          }
          @if (totalPatients() > 5) {
            <div class="fw-medium bg-primary fw-medium text-white rounded-circle">
              +{{ totalPatients() - 5 }}
            </div>
          }
        </div>
      </div>
      <div class="info d-flex align-items-center justify-content-between">
        <span class="sub-title d-block text-body"> Patients under your care </span>
      </div>
    }
  </mat-card-content>
</mat-card>
