<div class="auth-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="daxa-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
            >
                <div class="title text-center">
                    <h3>
                        Bienvenido a Foodlytics
                    </h3>
                    <p class="ml-auto mr-auto">
                        Organiza pacientes, registra comidas y analiza métricas en un solo lugar
                    </p>
                </div>
                <div class="admin text-center">
                    <div class="logo position-relative rounded-circle">
                        <img ngSrc="../../../../../../assets/images/logo.svg" alt="logo" height="100" width="122" priority>
                    </div>
                    <span class="d-block fw-medium">
                        Accede para continuar
                    </span>
                </div>
                <div class="d-flex justify-content-end">
                    <a routerLink="/authentication/forgot-password" class="d-inline-block text-daxa" (click)="forgotPassword()">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>
                <button mat-button class="btn" type="button" (click)="login()">
                    Iniciar sesión
                </button>
                <p class="cta-below text-center text-black">
                    ¿No tienes una cuenta?
                    <a class="text-daxa fw-500 cursor-pointer" (click)="register()">Créala aquí</a>
                </p>
            </div>
        </div>
    </div>
</div>