<mat-card
  class="daxa-card welcome-card mb-25 border-radius position-relative bg-gradient-welcome border-none d-block"
  [class.rtl-enabled]="themeService.isRTLEnabled()"
>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <span class="d-block text-white">
            {{ currentDate() | date: "EEEE, d 'de' MMMM yyyy, h:mm:ss a" }}
          </span>
          <h3 class="text-white">{{ headerInfo().fullName }}</h3>
          <p class="text-white">{{ headerInfo().secondaryInfo }}</p>
          <span class="d-block text-white fw-medium">
            Progreso general
          </span>
          <div class="chart">
            <div #chartEl id="lms_welcome_chart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image">
          <img
            [ngSrc]="photoSrc()"
            [alt]="headerInfo().fullName"
            height="235"
            width="345"
          />
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
