<mat-card
    class="daxa-card welcome-card mb-25 border-radius position-relative bg-gradient-welcome border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <span class="d-block text-white">
                        {{ currentDate() | date:'EEEE, d \'de\' MMMM yyyy, h:mm:ss a' }}
                    </span>
                    <h3 class="text-white">
                        Nombre de l'apprenant
                    </h3>
                    <p class="text-white">
                        telefono - altura - edad
                    </p>
                    <span class="d-block text-white fw-medium">
                       Progreso General --- posiblemente quitar proggres bar (sobrepeso)
                    </span>
                    <div class="chart">
                        <div #chartEl id="lms_welcome_chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img ngSrc="../../../../../../../../assets/images/welcome.webp" alt="welcome-image" height="235" width="345">
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>