<mat-card
  class="daxa-card basic-timeline-card mb-10 border-radius bg-white border-none d-block"
  [class.component-dark-theme]="themeService.isDark()"
  [class.rtl-enabled]="themeService.isRTLEnabled()"
>
  <mat-card-header>
    <mat-card-title>
      <h5 class="mb-0">Cronología de Actividades Diaria</h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="timeline pl-0 mb-0 mt-0 list-unstyled">
      <ng-container *ngIf="timelineEntries().length; else emptyState">
        <li
          class="position-relative"
          *ngFor="let meal of timelineEntries(); trackBy: mealTrackById"
        >
          <h5>{{ meal.mealType }}</h5>
          <span class="time d-block text-body">
            {{ meal.timeLabel }}
          </span>
          <p class="text-black mb-1">{{ meal.description }}</p>
          <ng-container *ngIf="meal.kcalLabel as kcal">
            <span class="text-body kcal-label">{{ kcal }}</span>
          </ng-container>
        </li>
      </ng-container>
      <ng-template #emptyState>
        <li class="position-relative text-center text-body">
          No hay comidas registradas hoy.
        </li>
      </ng-template>
    </ul>
  </mat-card-content>
</mat-card>
