<mat-card
  class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
>
  <mat-card-header>
    <mat-card-title>
      <h5 class="mb-0">Profile Information</h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="info-list pr-0 pl-0 mb-0 mt-0 list-unstyled">
      <li>
        <span class="text-body">User ID:</span>
        {{ userId() ?? "—" }}
      </li>
      <li>
        <span class="text-body">First Name:</span>
        {{ firstName() }}
      </li>
      <li>
        <span class="text-body">Last Name:</span>
        {{ lastName() }}
      </li>
      <li>
        <span class="text-body">Age:</span>
        {{ age() }}
      </li>
      <li>
        <span class="text-body">Gender:</span>
        {{ gender() }}
      </li>
      <li>
        <span class="text-body">Email:</span>
        {{ email() }}
      </li>
      <li>
        <span class="text-body">Role:</span>
        {{ role() }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
