.mat-mdc-card {
    &.daxa-card {
        &.ave-resolution-time-card {
            .mat-mdc-card-content {
                position: relative;
                min-height: 144px;
                display: flex;
                align-items: center;
                justify-content: center;

                h3 {
                    font-size: 2.5rem;
                    font-weight: 600;
                    color: var(--blackColor, #1a1a1a);
                    
                    span {
                        font-size: var(--fontSize);
                    }
                }
                
                p {
                    font-size: 1rem;
                    color: var(--bodyColor, #919aa3);
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.ave-resolution-time-card {
                border: {
                    bottom: {
                        left-radius: 0 !important;
                        right-radius: 0 !important;
                    }
                };
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.ave-resolution-time-card {
                .mat-mdc-card-content {
                    .chart {
                        left: -37px;
                        right: -25px;
                        bottom: -45px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}