<mat-card
  class="daxa-card welcome-card mb-25 border-radius position-relative bg-gradient border-none d-block"
  [class.rtl-enabled]="themeService.isRTLEnabled()"
>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <span class="d-block text-white">
            {{ currentDate() }}
          </span>
          <h3 class="text-white">
            Welcome back, {{ nutritionistName() }}!
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image">
          @if (photoUrl()) {
            <img
              [src]="photoUrl()"
              alt="Profile photo"
              width="345"
              height="235"
            />
          } @else {
            <div class="avatar-placeholder">
              {{ photoInitials() }}
            </div>
          }
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
