<!-- Testimonials Style - 1 -->
<mat-card
    class="daxa-card testimonial-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Testimonials Style - 1
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row justify-content-center testimonials-list">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <img ngSrc="assets/images/users/user1.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Marcia Baker
                    </h5>
                    <span class="designation d-block text-body">
                        Web Developer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <img ngSrc="assets/images/users/user2.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Carolyn Barnes
                    </h5>
                    <span class="designation d-block text-body">
                        Web Designer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <img ngSrc="assets/images/users/user4.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Donna Miller
                    </h5>
                    <span class="designation d-block text-body">
                        Web Developer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Testimonials Style - 2 -->
<mat-card
    class="daxa-card testimonial-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Testimonials Style - 2
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row justify-content-center testimonials-list">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item text-center bg-gray mb-25 border-radius">
                    <img ngSrc="assets/images/users/user5.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Barbara Cross
                    </h5>
                    <span class="designation d-block text-body">
                        Web Developer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item text-center bg-gray mb-25 border-radius">
                    <img ngSrc="assets/images/users/user6.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Rebecca Block
                    </h5>
                    <span class="designation d-block text-body">
                        Web Designer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item text-center bg-gray mb-25 border-radius">
                    <img ngSrc="assets/images/users/user7.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Ramiro McCarty
                    </h5>
                    <span class="designation d-block text-body">
                        Web Developer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Testimonials Style - 3 -->
<mat-card
    class="daxa-card testimonial-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Testimonials Style - 3
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row justify-content-center testimonials-list">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <div class="user d-flex align-items-center">
                        <div class="img">
                            <img ngSrc="assets/images/users/user8.webp" width="200" alt="user-image" class="rounded-circle"
                                 height="200">
                        </div>
                        <div class="title">
                            <h5>
                                Marcia Baker
                            </h5>
                            <span class="designation d-block text-body">
                                Web Developer
                            </span>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-black fst-italic">
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <div class="user d-flex align-items-center">
                        <div class="img">
                            <img ngSrc="assets/images/users/user9.webp" width="200" alt="user-image" class="rounded-circle"
                                 height="200">
                        </div>
                        <div class="title">
                            <h5>
                                Carolyn Barnes
                            </h5>
                            <span class="designation d-block text-body">
                                Web Designer
                            </span>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-fill"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-black fst-italic">
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <div class="user d-flex align-items-center">
                        <div class="img">
                            <img ngSrc="assets/images/users/user10.webp" width="200" alt="user-image" class="rounded-circle"
                                 height="200">
                        </div>
                        <div class="title">
                            <h5>
                                Donna Miller
                            </h5>
                            <span class="designation d-block text-body">
                                Web Developer
                            </span>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-black fst-italic">
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Testimonials Style - 4 -->
<mat-card
    class="daxa-card testimonial-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Testimonials Style - 4
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row justify-content-center testimonials-list">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <div class="user d-flex align-items-center">
                        <div class="img">
                            <img ngSrc="assets/images/users/user11.webp" width="200" alt="user-image" class="rounded-circle"
                                 height="200">
                        </div>
                        <div class="title">
                            <h5>
                                Barbara Cross
                            </h5>
                            <span class="designation d-block text-body">
                                Web Developer
                            </span>
                        </div>
                    </div>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p class="fst-italic">
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <div class="user d-flex align-items-center">
                        <div class="img">
                            <img ngSrc="assets/images/users/user12.webp" width="200" alt="user-image" class="rounded-circle"
                                 height="200">
                        </div>
                        <div class="title">
                            <h5>
                                Rebecca Block
                            </h5>
                            <span class="designation d-block text-body">
                                Web Designer
                            </span>
                        </div>
                    </div>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <p class="fst-italic">
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item bg-gray mb-25 border-radius">
                    <div class="user d-flex align-items-center">
                        <div class="img">
                            <img ngSrc="assets/images/users/user13.webp" width="200" alt="user-image" class="rounded-circle"
                                 height="200">
                        </div>
                        <div class="title">
                            <h5>
                                Ramiro McCarty
                            </h5>
                            <span class="designation d-block text-body">
                                Web Developer
                            </span>
                        </div>
                    </div>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p class="fst-italic">
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Testimonials Style - 5 -->
<mat-card
    class="daxa-card testimonial-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Testimonials Style - 5
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row justify-content-center testimonials-list">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item p-0 mb-25">
                    <img ngSrc="assets/images/users/user14.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Marcia Baker
                    </h5>
                    <span class="designation d-block text-body">
                        Web Developer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item p-0 mb-25">
                    <img ngSrc="assets/images/users/user15.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Carolyn Barnes
                    </h5>
                    <span class="designation d-block text-body">
                        Web Designer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item p-0 mb-25">
                    <img ngSrc="assets/images/users/user16.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Donna Miller
                    </h5>
                    <span class="designation d-block text-body">
                        Web Developer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Testimonials Style - 6 -->
<mat-card
    class="daxa-card testimonial-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Testimonials Style - 6
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row justify-content-center testimonials-list">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item text-center p-0 mb-25">
                    <img ngSrc="assets/images/users/user5.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Barbara Cross
                    </h5>
                    <span class="designation d-block text-body">
                        Web Developer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item text-center p-0 mb-25">
                    <img ngSrc="assets/images/users/user6.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Rebecca Block
                    </h5>
                    <span class="designation d-block text-body">
                        Web Designer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="testimonial-item text-center p-0 mb-25">
                    <img ngSrc="assets/images/users/user7.webp" width="200" alt="user-image" class="rounded-circle"
                         height="200">
                    <h5>
                        Ramiro McCarty
                    </h5>
                    <span class="designation d-block text-body">
                        Web Developer
                    </span>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>
                        "We look and sound so good! I am still in shock at how smooth this process was. The professionalism, collaboration and the design they come up is great."
                    </p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>